/cqLog
/__pycache__
/dist
/pycqBot/__pycache__
/pycqBot.egg-info
/download
/cqLogs
/main.py
/pycqBot/plugin/__pycache__
/pycqBot/plugin/*/__pycache__
/plugin_config.yml
/test.py
/plugin
/config.yml
/test.http
/.eggs